/* 
REGLAS
SELECTORES
DECLARACIONES
PROPIEDADES
VALORES
 */

body {
    font-family: 'Roboto', sans-serif;
}

/* ----------ENCABEZADO-------------- */
header {
    background-color: pink;
    color: red;
}

.header {

}

.logo {
    width: 150px;
    padding: 20px;
}

.menu {

}

.link {
    
}

strong {
    color: rgb(0, 0, 109);
}
/* --------------------------------------- */
.img-eventos {
    width: 600px;
}

.img-Plataforma {
    width: 400px;
}
/* -------------SECCION 1 HERO----------------- */
.hero {

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: ;
    text-transform: ;
    text-decoration: ;
}

.img-perfil {
    width: 400px;
    border-radius: 50%;
}
/* ------------SECCION 2 PORTAFOLIO-------- */
#portafolio {

}

.portfolio {

}

.project {

}

.project-title 

.project-course [

]

.project-date {

}

.project-url {

}

.project-description {

}

.project-imageContainer {

}

.project-image {

}
/* ---------------SECCION 3 EVENTOS------------- */
.event {

}

.event-imageContainer {

}

.event-image {

}

.event-title {

}

.event-description {

}

.event-url {

}
/* -------------SECCION 4 FORMULARIO CONTACTO------ */
.contact {

}

.form-email {

}
/* -----------------FOOTER-------------------------- */
.footer {
    
}
