/* 
REGLAS
SELECTORES
DECLARACIONES
PROPIEDADES
VALORES
 */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* ----------ENCABEZADO-------------- */
header {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #1b2127;
    color: white;
}

.logo {
    width: 150px;
    padding: 10px 20px 0px;
    margin: 0px;
}

.logo-img {
    width: 90px;
}

.menu {
    height: inherit;
}

.header ul {
    display: flex;
    height: inherit;
}

.header ul li {
    height: inherit;
}

.header ul li a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    height: inherit;
}

ul {
    margin: 0px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link {
    
}

/* -------------SECCION 1 HERO----------------- */
.hero {
    display: flex;
    align-items: center;
    height: 300px;
    background-color: #1b2127;
    background-image: url(img/leoyyo.jpg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: right;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: ;
    text-transform: ;
    text-decoration: ;
    color: white;
    margin: 0px;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
}

strong {
    color: #026fff;
}

.img-perfil {
    width: 400px;
    border-radius: 50%;
}
/* ------------SECCION 2 PORTAFOLIO-------- */
.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.398) 2px 2px 5px;
    border-radius: 10px;
    margin: 0px 0px 20px;
    padding: 10px;
    width: auto;
    height: auto;

    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.project-details {
    width: 500px;
    margin: 0px;
    padding: 10px 20px;
}

.project-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 10px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
    color: #1b2127;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0px;
}

.project-description {
    font-size: 20px;
}

.project-imageContainer {
    width: 500px;
    margin: auto;
}

.project-image {
    max-width: 100%;
}
/* ---------------SECCION 3 EVENTOS------------- */
.event {

}

.event-imageContainer {
}

.event-image {

}

.event-title {

}

.event-description {

}

.event-url {

}
/* -------------SECCION 4 FORMULARIO CONTACTO------ */
.contact {

}

.form-email {

}
/* -----------------FOOTER-------------------------- */
.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
    background-color: #1b2127;
    color: #fafafa;
}

.footer a {
    text-decoration: none;
    color: #fafafa;
}

.autor {
    margin: 0px 0px 0px auto;
}